*{
	box-sizing: border-box;
}
html, body{
	background-color: var(--white);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	min-height: 100%;
}


body, html, h1, h2, h3, h4, h5, h6, p, 
img, a, div, aside, nav, ul, ol, li, 
input, textarea, select, button
{
	margin: 0;
	padding: 0;
	border: 0;

	text-decoration: none;
	list-style-type: none;
	line-height: 1.5;
}

.alt::after{
	content: "";
	clear: both;
	display: block;
}

[class^="col-"]{
	float: left;
	padding: 15px;
}


.alt{
	display: flex;
	flex-direction: row;
}


html{
	font-family: sans-serif;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 14px;
	background-color: #1666b0;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li a {
	color: #020202;

}

.menu li a:hover {
	background-color: #ffffff;
	color: #e52129;

}

.oppskying {
	font-size: 12px;

}


.text {
	padding-left: 5%;

	
	
}

.text h2{
	font-size: 16px;
	

}

.text p {
	font-size: 14px;
	

}


.Nasaapi {
	padding-left: 16px;
}














/* Her kommer Kontakt skjemaet 


	/*skrive boksen */
		input[type=text], select, textarea{
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius:  4px;
			resize: vertical;
		}

		label{
			padding: 12px 12px 12px 0;
			display: inline-block;
		}

		/* kanpp send inn*/
		input[type=submit]{
			background-color: #e52129;
			color: white;
    		padding: 12px 20px;
    		border: none;
    		border-radius: 4px;
    		cursor: pointer;
    		float: right;
		}

		input[type=submit]: hover {
			background-color: #45a049;
		}

		.container {
			border-radius: 5px;
			background-color: #f2f2f2;
			padding: 20px;
		}


		.col-25{
			float: left;
			width: 25%;
			margin-top: 6px;
		}

		.col-75{
			float: left;
			width: 75%;
			margin-top: 6px;
		}

		/* */
		.row:after{
			content: "";
			display: table;
			clear: both;
		}

		@media screen and (max-width: 600px) {
			.col-25, .col-75 input[type=submit] {
				width: 100%;
				margin-top: 0;
			}
		}


footer{
	background-color: #1666b0;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.5;
}







/* for mobiler phones:*/
[class^="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px) {
/*for tablets */
.col-m-1{width: 8.33%;}
.col-m-2{width: 16.66%;}
.col-m-3{width: 25%;}
.col-m-4{width: 33.33%;}
.col-m-5{width: 41.66;}
.col-m-6{width: 50%;}
.col-m-7{width: 58.33%;}
.col-m-8{width: 66.66%;}
.col-m-9{width: 75%;}
.col-m-10{width: 83.33%;}
.col-m-11{width: 91.66;}
.col-m-12{width: 100%;}
}

@media only screen and (min-width: 1024px){
/*for desktop*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}
}